@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,700italic,800,600italic,800italic,300italic);

body {
	font-family: 'Open Sans', sans-serif;

}

/*HEADER AREA*/
header {
	background-image:url("../images/header_bg.jpg");
}
.header {
	font-weight: bolder;
	font-size: 24px;
}



.header h1 {
	font-size: 24px;
	font-weight: bolder;
}

/*
 p {
	font-style: normal;
	font-size: 20px;
	margin-left: 55px;
	margin-top: 50px;
	color:white;
}


.header button {
	font-size: 14px;
	border-radius: 5px;
	padding: 15px;
	background: yellow;
	color: black;
	margin-left:750px;
	
}
*/



/*CONTENT AREA*/

.content {
	background: #f0efef;
	font-weight: bold;
	font-size: 20px;
	padding-top: 15px;
}

.content p{
	font-size: 13px;
	font-weight: lighter;
}

ul{
	font-size: 13px;
	font-weight: lighter;
}

blockquote{
	font-size: 18px;
	font-weight: bold;
}
/*
a:link {
	font-size: 13px;
	font-weight: lighter;
    text-decoration: none;
}

a:visited {
    color: black;
}
*/


.bot-button button{
	font-weight: bolder;
	font-size: 12px;
	border-radius: 5px;
}



/*
.header h2{
	font-style: normal;
	font-size: 20px;
	margin-left: 55px;
	margin-top: 50px;
	color:white;
}

.sm li{
	color: black;
}

.sm h1{
	color: black;
}
*/

/*Footer Area*/

footer{
	font-size: 9px;
	font-weight: bold;
}
